Repository Openbeats/openbeats: changes, and which Jenkins stages are due for each by the changed paths.
All: clientapp, captainapp, server, fallback, downcc, auth, playlist

Path conditions:
  clientapp: any of: services/clientapp/**
  captainapp: any of: services/captainapp/**
  server: any of: services/server/**
  fallback: any of: services/fallback/**
  downcc: any of: services/downcc/**
  auth: any of: services/auth/**
  playlist: any of: services/playlist/**

rotating proxy enabled....
  services/server/package-lock.json
  services/server/package.json
  services/server/src/index.js
Due: server

proxy integration done in fallback and downcc services
  services/downcc/package-lock.json
  services/downcc/package.json
  services/downcc/src/index.js
  services/fallback/package-lock.json
  services/fallback/package.json
  services/fallback/src/index.js
  services/server/src/index.js
Due: server, fallback, downcc

playlist service topcharts songs model schema restructuring done
  services/playlist/src/core/updateTopCharts.js
  services/playlist/src/models/TopChart.js
Due: playlist

downcc service updated
  services/downcc/src/index.js
  services/playlist/src/core/updateTopCharts.js
Due: downcc, playlist

downcc service rebuild
  services/downcc/src/index.js
Due: downcc

clientapp ytdl integration test build
  Jenkinsfile
  services/clientapp/package-lock.json
  services/clientapp/package.json
  services/clientapp/src/App.jsx
Due: clientapp

clientapp ytdl integration test build
  services/clientapp/src/App.jsx
Due: clientapp

ytdl lambda integration done
  lambda/ytdl/index.js
  lambda/ytdl/package-lock.json
  lambda/ytdl/package.json
  lambda/ytdl/ytdl.zip
  services/server/src/index.js
Due: server

test branch deleted
  Jenkinsfile
  services/server/src/index.js
Due: server

lambda integration in server, fallback and downcc
  services/downcc/package-lock.json
  services/downcc/package.json
  services/downcc/src/index.js
  services/fallback/package-lock.json
  services/fallback/package.json
  services/fallback/src/index.js
  services/server/package-lock.json
  services/server/package.json
Due: server, fallback, downcc

clientapp ytdl core removed
  services/clientapp/package-lock.json
  services/clientapp/package.json
  services/clientapp/src/App.jsx
Due: clientapp

fallback functionality issue fixed
  services/fallback/package-lock.json
  services/fallback/package.json
  services/fallback/src/index.js
Due: fallback

redis integration of obs core server done
  k8s/deployments/redis.yml
  k8s/svc/redis.yml
  services/server/package-lock.json
  services/server/package.json
  services/server/src/config/redis.js
  services/server/src/config/schema.js
  services/server/src/core/copycat.js
  services/server/src/index.js
Due: server

redis key expiry implementation and fallback, downcc redis integration done
  services/downcc/package-lock.json
  services/downcc/package.json
  services/downcc/src/config/redis.js
  services/downcc/src/index.js
  services/fallback/package-lock.json
  services/fallback/package.json
  services/fallback/src/config/redis.js
  services/fallback/src/index.js
  services/server/src/index.js
Due: server, fallback, downcc

redis downcc inegration issue fixed
  services/downcc/src/index.js
Due: downcc

downcc redis integration bug fixed
  services/downcc/src/index.js
Due: downcc

clientapp downcc redis integration effect resolved and readme updated(downcc)
  README.md
  services/clientapp/src/actions/playerActions.js
  services/clientapp/src/containers/PlaylistDisplay.jsx
  services/clientapp/src/containers/Result.jsx
Due: clientapp

aws lambda region changed and api gateway updation integrated in microservices (core, fallback, downcc)
  lambda/ytdl/index.js
  lambda/ytdl/ytdl.zip
  services/downcc/config/default.json
  services/downcc/src/config/redis.js
  services/downcc/src/index.js
  services/fallback/config/default.json
  services/fallback/src/config/redis.js
  services/fallback/src/index.js
  services/server/config/default.json
  services/server/src/config/redis.js
  services/server/src/index.js
Due: server, fallback, downcc

add to queue implementation on the midway
  services/clientapp/src/containers/PlaylistDisplay.jsx
  services/clientapp/src/containers/Result.jsx
  services/clientapp/src/containers/TopCharts.jsx
  services/clientapp/src/containers/YourPlaylist.jsx
  services/clientapp/src/css/playlistdisplay.css
  services/clientapp/src/css/result.css
  services/clientapp/src/css/yourplaylist.css
  services/clientapp/src/images/index.js
  services/clientapp/src/images/pqueuered.png
  services/clientapp/src/images/pqueuewhite.png
Due: clientapp
