Repository Openbeats/openbeats: changes, and which Jenkins stages are due for each by the changed paths.
All: clientapp, captainapp, server, fallback, downcc

clientapp:
                      steps {
                          echo 'building clientapp...'
                          buildAndUpdateCluster("services/clientapp/", "obs-clientapp", "obs-clientapp")
                      }
                  

captainapp:
                      steps {
                          echo 'building captainapp...'
                          buildAndUpdateCluster("services/captianapp/", "obs-captianapp", "obs-captianapp")
                      }
                  

server:
                      steps {
                          echo 'building server...'
                          buildAndUpdateCluster("services/server/", "obs-server", "obs-server")
                      }
                  

fallback:
                      steps {
                          echo 'building fallback...'
                          buildAndUpdateCluster("services/fallback/", "obs-fallback", "obs-fallback")
                      }
                  

downcc:
                      steps {
                          echo 'building downcc...'
                          buildAndUpdateCluster("services/downcc/", "obs-downcc", "obs-downcc")
                      }
                  

auth service deployment
  Jenkinsfile
  k8s/deployments/auth.yml
  k8s/ingress/ingress.yml
  k8s/svc/auth.yml
  services/auth/config/default.json
  services/auth/src/config/middleware.js
  services/auth/src/config/passport.js
  services/auth/src/index.js
  services/auth/src/routes/auth.js
Due: none

miscellanious service updated
  Jenkinsfile
  services/server/src/index.js
Due: server

auth service jenkins entry created
  Jenkinsfile
  services/server/config/default.json
  services/server/src/index.js
Due: server

rebuild auth service
  Jenkinsfile
  k8s/deployments/auth.yml
  services/auth/config/default.json
  services/auth/src/config/db.js
  services/auth/src/routes/auth.js
  services/clientapp/src/actions/authActions.js
  services/clientapp/src/containers/TopNav.jsx
  services/clientapp/src/css/topnav.css
Due: clientapp

authentication ui state management implemented
  Jenkinsfile
  k8s/svc/db-exp.yml
  services/clientapp/src/App.jsx
  services/clientapp/src/actions/authActions.js
  services/clientapp/src/containers/Main.jsx
  services/clientapp/src/containers/Player.jsx
  services/clientapp/src/containers/TopNav.jsx
  services/clientapp/src/css/auth.css
  services/clientapp/src/css/commons.css
  services/clientapp/src/css/topnav.css
  services/clientapp/src/reducers/authReducer.js
Due: clientapp

Fixed video only bug
  services/downcc/config/default.json
  services/downcc/src/config/db.js
  services/downcc/src/index.js
  services/fallback/config/default.json
  services/fallback/src/index.js
  services/server/config/default.json
  services/server/package.json
  services/server/src/config/localdb.js
  services/server/src/index.js
Due: server, fallback, downcc

readme.md updated and playlist service template added to cluster
  Jenkinsfile
  README.md
  k8s/deployments/playlist.yml
  k8s/ingress/ingress.yml
  k8s/svc/playlist.yml
  services/auth/src/models/User.js
  services/auth/src/routes/auth.js
  services/downcc/config/default.json
  services/fallback/config/default.json
  services/fallback/src/config/db.js
  services/playlist/.babelrc
  services/playlist/.dockerignore
  services/playlist/.gitignore
  services/playlist/Dockerfile
  services/playlist/config/default.json
  services/playlist/index.js
  services/playlist/package-lock.json
  services/playlist/package.json
  services/playlist/src/config/db.js
  services/playlist/src/config/middleware.js
  services/playlist/src/index.js
  services/server/src/config/db.js
Due: server, fallback, downcc

cicd pipeleine jenkins file updated
  Jenkinsfile
Due: none

jenkinsfile updated
  Jenkinsfile
  services/server/src/index.js
Due: server

user playlist service implementation done
  Jenkinsfile
  README.md
  services/auth/config/default.json
  services/playlist/config/default.json
  services/playlist/package-lock.json
  services/playlist/package.json
  services/playlist/src/config/db.js
  services/playlist/src/index.js
  services/playlist/src/models/User.js
  services/playlist/src/models/UserPlaylist.js
  services/playlist/src/routes/userPlaylist.js
Due: none

jenkins file namespace bug fixed
  Jenkinsfile
  services/playlist/package-lock.json
  services/playlist/package.json
Due: none

playlist reducer and actions in clientapp partial implementation done
  Jenkinsfile
  README.md
  services/clientapp/src/actions/index.js
  services/clientapp/src/actions/playlistManipulatorActions.js
  services/clientapp/src/containers/Main.jsx
  services/clientapp/src/containers/PlaylistManipulator.jsx
  services/clientapp/src/containers/Result.jsx
  services/clientapp/src/containers/index.js
  services/clientapp/src/css/playlistmanipulator.css
  services/clientapp/src/reducers/index.js
  services/clientapp/src/reducers/playlistManipulatorReducer.js
Due: clientapp

user playlist - empty playlist creation ui flow implemented
  services/clientapp/package-lock.json
  services/clientapp/package.json
  services/clientapp/src/actions/playlistManipulatorActions.js
  services/clientapp/src/containers/Player.jsx
  services/clientapp/src/containers/PlaylistManipulator.jsx
  services/clientapp/src/css/commons.css
  services/clientapp/src/css/playlistmanipulator.css
  services/clientapp/src/reducers/playlistManipulatorReducer.js
Due: clientapp

userplaylist leftnav partial implementation done
  services/clientapp/src/actions/playlistManipulatorActions.js
  services/clientapp/src/containers/LeftNav.jsx
  services/clientapp/src/containers/Main.jsx
  services/clientapp/src/containers/PlaylistManipulator.jsx
  services/clientapp/src/containers/YourPlaylist.jsx
  services/clientapp/src/containers/index.js
  services/clientapp/src/css/leftnav.css
  services/clientapp/src/css/yourplaylist.css
Due: clientapp

added topcharts
  services/playlist/config/default.json
  services/playlist/package-lock.json
  services/playlist/package.json
  services/playlist/src/config/db.js
  services/playlist/src/core/refetch.js
  services/playlist/src/core/topChartsCron.js
  services/playlist/src/core/updateTopCharts.js
  services/playlist/src/index.js
  services/playlist/src/models/TopChart.js
  services/playlist/src/models/User.js
  services/playlist/src/routes/topcharts.js
  services/playlist/src/routes/userPlaylist.js
  services/server/package.json
  services/server/src/core/updatePlaylist.js
  services/server/src/core/updatePlaylistCron.js
  services/server/src/index.js
Due: server

user playlist name update ui logic implemented
  services/clientapp/src/actions/playlistManipulatorActions.js
  services/clientapp/src/containers/LeftNav.jsx
  services/clientapp/src/containers/Main.jsx
  services/clientapp/src/containers/PlaylistDisplay.jsx
  services/clientapp/src/css/commons.css
Due: clientapp

Trigger jenkins - buid partial client app userplaylist and topchart (playlist service)
  Jenkinsfile
Due: none

dynamic thumbnail and total songs update feature on userplaylist service
  services/clientapp/src/containers/PlaylistDisplay.jsx
  services/playlist/package-lock.json
  services/playlist/package.json
  services/playlist/src/models/User.js
  services/playlist/src/models/UserPlaylist.js
  services/playlist/src/routes/userPlaylist.js
Due: clientapp

Updated Top Charts Routes to fetch by ID
  services/auth/src/models/User.js
  services/playlist/src/core/topChartsCron.js
  services/playlist/src/core/updateTopCharts.js
  services/playlist/src/index.js
  services/playlist/src/models/TopChart.js
  services/playlist/src/models/User.js
  services/playlist/src/models/UserPlaylist.js
  services/playlist/src/routes/topcharts.js
Due: none

after latest merge form master branch..
  services/auth/src/models/User.js
  services/playlist/src/models/UserPlaylist.js
Due: none

Path conditions:
  clientapp: any of: services/clientapp/**
  captainapp: any of: services/captainapp/**
  server: any of: services/server/**
  fallback: any of: services/fallback/**
  downcc: any of: services/downcc/**
