Repository Openbeats/openbeats: changes, and which Jenkins stages are due for each by the changed paths.
All: clientapp, captainapp, server, fallback, downcc, auth, playlist

clientapp:
                      steps {
                          echo 'building clientapp...'
                          buildAndUpdateCluster("services/clientapp/", "obs-clientapp", "obs-clientapp")
                      }
                  

captainapp:
                      steps {
                          echo 'building captainapp...'
                          buildAndUpdateCluster("services/captianapp/", "obs-captianapp", "obs-captianapp")
                      }
                  

server:
                      steps {
                          echo 'building server...'
                          buildAndUpdateCluster("services/server/", "obs-server", "obs-server")
                      }
                  

fallback:
                      steps {
                          echo 'building fallback...'
                          buildAndUpdateCluster("services/fallback/", "obs-fallback", "obs-fallback")
                      }
                  

downcc:
                      steps {
                          echo 'building downcc...'
                          buildAndUpdateCluster("services/downcc/", "obs-downcc", "obs-downcc")
                      }
                  

auth:
                      steps {
                          echo 'building downcc...'
                          buildAndUpdateCluster("services/auth/", "obs-auth", "obs-auth")
                      }
                  

playlist:
                      steps {
                          echo 'building playlist...'
                          buildAndUpdateCluster("services/playlist/", "obs-playlist", "obs-playlist")
                      }
                  

userplaylist ui logic and bugs in playlist service (userplaylist) fixed
  design/openbeats.xd
  services/clientapp/package-lock.json
  services/clientapp/package.json
  services/clientapp/src/actions/authActions.js
  services/clientapp/src/actions/playlistManipulatorActions.js
  services/clientapp/src/containers/LeftNav.jsx
  services/clientapp/src/containers/PlaylistDisplay.jsx
  services/clientapp/src/containers/Result.jsx
  services/clientapp/src/containers/YourPlaylist.jsx
  services/clientapp/src/css/playlistdisplay.css
  services/clientapp/src/css/yourplaylist.css
  services/clientapp/src/images/index.js
  services/clientapp/src/images/playlist-svg.svg
  services/playlist/src/routes/userPlaylist.js
Due: clientapp, playlist

userplaylist auth logic integration done
  services/clientapp/src/actions/authActions.js
  services/clientapp/src/actions/nowPlayingActions.js
  services/clientapp/src/actions/playlistManipulatorActions.js
  services/clientapp/src/containers/LeftNav.jsx
  services/clientapp/src/containers/Main.jsx
  services/clientapp/src/containers/PlaylistDisplay.jsx
  services/clientapp/src/containers/PlaylistManipulator.jsx
  services/clientapp/src/reducers/authReducer.js
  services/clientapp/src/reducers/coreReducer.js
  services/clientapp/src/reducers/nowPlayingReducer.js
  services/clientapp/src/reducers/playerReducer.js
  services/clientapp/src/reducers/playlistManipulatorReducer.js
  services/clientapp/src/reducers/searchReducer.js
  services/playlist/config/default.json
  services/server/src/index.js
Due: clientapp, server, playlist

userplaylist model updated (loosely coupled)
  services/clientapp/src/actions/nowPlayingActions.js
  services/clientapp/src/actions/playlistManipulatorActions.js
  services/clientapp/src/containers/LeftNav.jsx
  services/clientapp/src/containers/NowPlaying.jsx
  services/clientapp/src/containers/PlaylistDisplay.jsx
  services/clientapp/src/containers/PlaylistManipulator.jsx
  services/clientapp/src/containers/YourPlaylist.jsx
  services/clientapp/src/reducers/nowPlayingReducer.js
  services/playlist/src/models/User.js
  services/playlist/src/models/UserPlaylist.js
  services/playlist/src/routes/userPlaylist.js
Due: clientapp, playlist

Bug in logout reducer fixed
  services/clientapp/src/reducers/authReducer.js
Due: clientapp

issue in deleting playlisting via yourplaylist route in clientapp resolved
  services/clientapp/src/containers/YourPlaylist.jsx
Due: clientapp

updated playlist model
  services/captainapp/package-lock.json
  services/captainapp/package.json
  services/playlist/src/models/CustomCollection.js
  services/playlist/src/models/User.js
Due: captainapp, playlist

client app topcharts ui implemented
  services/clientapp/src/actions/playlistManipulatorActions.js
  services/clientapp/src/containers/LeftNav.jsx
  services/clientapp/src/containers/Main.jsx
  services/clientapp/src/containers/PlaylistDisplay.jsx
  services/clientapp/src/containers/Result.jsx
  services/clientapp/src/containers/TopCharts.jsx
  services/clientapp/src/containers/YourPlaylist.jsx
Due: clientapp

Added total Songs field in Topcharts
  services/playlist/package-lock.json
  services/playlist/package.json
  services/playlist/src/core/topCharts.js
  services/playlist/src/core/topChartsCron.js
  services/playlist/src/core/updateTopCharts.js
  services/playlist/src/index.js
  services/playlist/src/models/TopChart.js
  services/playlist/src/routes/userPlaylist.js
Due: playlist

trigger jenkins to build playlist clientapp and server services
  Jenkinsfile
  services/clientapp/src/containers/TopCharts.jsx
  services/playlist/src/index.js
  services/server/src/index.js
Due: clientapp, server, playlist

topcharts baseurl bug resolved
  services/playlist/src/core/updateTopCharts.js
  services/playlist/src/models/TopChart.js
Due: playlist

topcharts baseurl bug resolved
  services/playlist/src/core/updateTopCharts.js
Due: playlist

bug resolve testing - playlist topchart service
  services/playlist/src/core/topCharts.js
  services/playlist/src/core/updateTopCharts.js
Due: playlist

bug resolve testing - playlist topchart service
  services/playlist/src/core/updateTopCharts.js
Due: playlist

cluster svc node to node communication issue resolved
  services/playlist/config/default.json
  services/playlist/src/core/updateTopCharts.js
Due: playlist

cluster svc node to node communication issue resolved
  services/playlist/config/default.json
Due: playlist

Topcharts endpoints metadata update
  README.md
Due: none

playlist service rebuild
  services/playlist/src/index.js
Due: playlist

fixed thumbnail bug on topchats
  services/playlist/config/default.json
  services/playlist/package-lock.json
  services/playlist/package.json
  services/playlist/src/core/updateTopCharts.js
  services/playlist/src/index.js
Due: playlist

server service rebuild
  services/server/config/default.json
  services/server/package.json
Due: server

server testing k8s
  services/server/config/default.json
  services/server/src/index.js
Due: server

Path conditions:
  clientapp: any of: services/clientapp/**
  captainapp: any of: services/captainapp/**
  server: any of: services/server/**
  fallback: any of: services/fallback/**
  downcc: any of: services/downcc/**
  auth: any of: services/auth/**
  playlist: any of: services/playlist/**
