Repository Openbeats/openbeats: changes, and which Jenkins stages are due for each by the changed paths.
All: clientapp, captainapp, server, fallback, downcc, auth, playlist

clientapp:
                      steps {
                          echo 'building clientapp...'
                          buildAndUpdateCluster("services/clientapp/", "obs-clientapp", "obs-clientapp")
                      }
                  

captainapp:
                      steps {
                          echo 'building captainapp...'
                          buildAndUpdateCluster("services/captianapp/", "obs-captianapp", "obs-captianapp")
                      }
                  

server:
                      steps {
                          echo 'building server...'
                          buildAndUpdateCluster("services/server/", "obs-server", "obs-server")
                      }
                  

fallback:
                      steps {
                          echo 'building fallback...'
                          buildAndUpdateCluster("services/fallback/", "obs-fallback", "obs-fallback")
                      }
                  

downcc:
                      steps {
                          echo 'building downcc...'
                          buildAndUpdateCluster("services/downcc/", "obs-downcc", "obs-downcc")
                      }
                  

auth:
                      steps {
                          echo 'building downcc...'
                          buildAndUpdateCluster("services/auth/", "obs-auth", "obs-auth")
                      }
                  

playlist:
                      steps {
                          echo 'building playlist...'
                          buildAndUpdateCluster("services/playlist/", "obs-playlist", "obs-playlist")
                      }
                  

initial commit for english top chart
  draft/index.html
  services/fallback/package-lock.json
  services/fallback/package.json
  services/fallback/src/index.js
Due: fallback

queue mvp implemenatation done, yet to implement push custom playlist into queueu handler
  design/openbeats.xd
  services/clientapp/src/actions/nowPlayingActions.js
  services/clientapp/src/actions/playerActions.js
  services/clientapp/src/containers/LeftNav.jsx
  services/clientapp/src/containers/PlaylistDisplay.jsx
  services/clientapp/src/containers/Result.jsx
  services/clientapp/src/containers/TopCharts.jsx
  services/clientapp/src/containers/YourPlaylist.jsx
  services/clientapp/src/reducers/nowPlayingReducer.js
Due: clientapp

Fixed Multiple Same Song added in Playlist Error
  services/fallback/src/index.js
  services/playlist/src/core/topCharts.js
  services/playlist/src/core/updateTopCharts.js
  services/playlist/src/routes/userPlaylist.js
  services/server/src/core/refetch.js
  services/server/src/core/updatePlaylist.js
  services/server/src/core/updatePlaylistCron.js
  services/server/src/core/ytsearchcat.js
  services/server/src/index.js
Due: server, fallback, playlist

rebuild Trigger after hard reset to 5 commits back
  services/clientapp/src/App.jsx
  services/fallback/config/default.json
  services/playlist/config/default.json
  services/server/config/default.json
Due: clientapp, server, fallback, playlist

Fixed the bug of adding same songs to playlist
  services/playlist/config/default.json
  services/playlist/src/routes/userPlaylist.js
Due: playlist

Optimized query method for solving multiple songs in playlist bug
  services/playlist/src/routes/userPlaylist.js
Due: playlist

Forget password inital commit
  services/auth/config/default.json
  services/auth/src/routes/auth.js
Due: auth

clientapp queue state management implemented and playback issues fixed
  services/auth/src/routes/auth.js
  services/clientapp/src/actions/nowPlayingActions.js
  services/clientapp/src/actions/playerActions.js
  services/clientapp/src/containers/Player.jsx
  services/clientapp/src/containers/PlaylistDisplay.jsx
  services/clientapp/src/containers/Result.jsx
  services/clientapp/src/containers/TopCharts.jsx
  services/clientapp/src/containers/YourPlaylist.jsx
  services/clientapp/src/css/commons.css
  services/clientapp/src/css/playlistdisplay.css
Due: clientapp, auth

Done Topcharts error fix and forget password
  services/auth/config/default.json
  services/auth/package-lock.json
  services/auth/package.json
  services/auth/src/models/User.js
  services/auth/src/routes/auth.js
  services/auth/src/templates/forgot-password-email.html
  services/auth/src/templates/reset-password-email.html
  services/fallback/config/default.json
  services/fallback/src/index.js
  services/playlist/src/core/topCharts.js
  services/playlist/src/core/updateTopCharts.js
  services/playlist/src/index.js
  services/playlist/src/models/TopChart.js
  services/playlist/src/routes/topcharts.js
  services/server/config/default.json
  services/server/src/core/ytsearchcat.js
Due: server, fallback, auth, playlist

Trigger build
  services/auth/src/routes/auth.js
  services/downcc/index.js
  services/fallback/src/index.js
  services/playlist/src/index.js
  services/server/src/index.js
Due: server, fallback, downcc, auth, playlist

Auth service rebuild
  services/auth/config/default.json
  services/auth/package-lock.json
  services/auth/package.json
Due: auth

Auth service rebuild 1
  services/playlist/src/routes/topcharts.js
Due: playlist

clientapp directory restructuring and bug fixes
  services/clientapp/src/App.jsx
  services/clientapp/src/components/Auth.jsx
  services/clientapp/src/components/Home.jsx
  services/clientapp/src/components/LeftNav.jsx
  services/clientapp/src/components/Main.jsx
  services/clientapp/src/components/NowPlaying.jsx
  services/clientapp/src/components/Player.jsx
  services/clientapp/src/components/PlaylistDisplay.jsx
  services/clientapp/src/components/PlaylistManipulator.jsx
  services/clientapp/src/components/Result.jsx
  services/clientapp/src/components/TopCharts.jsx
  services/clientapp/src/components/TopNav.jsx
  services/clientapp/src/components/YourPlaylist.jsx
  services/clientapp/src/components/index.js
  services/clientapp/src/containers/Home.jsx
  services/clientapp/src/containers/LeftNav.jsx
  services/clientapp/src/containers/Main.jsx
  services/clientapp/src/containers/NowPlaying.jsx
  services/clientapp/src/containers/Player.jsx
  services/clientapp/src/containers/PlaylistDisplay.jsx
  services/clientapp/src/containers/Result.jsx
  services/clientapp/src/containers/TopNav.jsx
  services/clientapp/src/containers/index.js
  services/clientapp/src/css/playlistdisplay.css
  services/clientapp/src/css/yourplaylist.css
  services/playlist/src/core/topCharts.js
  services/playlist/src/core/updateTopCharts.js
Due: clientapp, playlist

topcharts promimse resolve bug fixed
  services/playlist/src/core/topCharts.js
  services/playlist/src/core/updateTopCharts.js
  services/playlist/src/index.js
Due: playlist

English Charts added
  services/playlist/config/default.json
  services/playlist/src/core/topCharts.js
  services/playlist/src/core/updateTopCharts.js
  services/playlist/src/index.js
Due: playlist

Updated Readme.md for forget password
  README.md
  services/auth/src/routes/auth.js
  services/playlist/src/core/topCharts.js
Due: auth, playlist

topcharts english fech bug fixed
  package-lock.json
  services/auth/src/templates/forgot-password-email.html
  services/auth/src/templates/reset-password-email.html
  services/clientapp/package-lock.json
  services/clientapp/package.json
  services/clientapp/src/App.jsx
  services/clientapp/src/components/Auth.jsx
  services/clientapp/src/components/Forget.jsx
  services/clientapp/src/components/Reset.jsx
  services/clientapp/src/components/index.js
  services/clientapp/src/css/forget.css
  services/clientapp/src/css/reset.css
  services/playlist/src/core/topCharts.js
Due: clientapp, auth, playlist

Fixed error in topcharts url
  services/playlist/src/core/topCharts.js
Due: playlist

auth service issue resolved and client app reset password auth logic done...
  README.md
  services/auth/src/models/User.js
  services/auth/src/routes/auth.js
  services/clientapp/src/App.jsx
  services/clientapp/src/actions/authActions.js
  services/clientapp/src/components/Forgot.jsx
  services/clientapp/src/components/Reset.jsx
  services/clientapp/src/components/index.js
  services/clientapp/src/css/commons.css
  services/clientapp/src/css/reset.css
Due: clientapp, auth

trigger jenkins
  package-lock.json
  services/auth/src/index.js
  services/clientapp/src/index.js
  services/playlist/config/default.json
  services/server/config/default.json
Due: clientapp, server, auth, playlist

Path conditions:
  clientapp: any of: services/clientapp/**
  captainapp: any of: services/captainapp/**
  server: any of: services/server/**
  fallback: any of: services/fallback/**
  downcc: any of: services/downcc/**
  auth: any of: services/auth/**
  playlist: any of: services/playlist/**
