Repository Openbeats/openbeats: changes, and which Jenkins stages are due for each by the changed paths.
All: clientapp, captainapp, server, fallback, downcc, auth, playlist

clientapp:
                      steps {
                          echo 'building clientapp...'
                          buildAndUpdateCluster("services/clientapp/", "obs-clientapp", "obs-clientapp")
                      }
                  

captainapp:
                      steps {
                          echo 'building captainapp...'
                          buildAndUpdateCluster("services/captianapp/", "obs-captianapp", "obs-captianapp")
                      }
                  

server:
                      steps {
                          echo 'building server...'
                          buildAndUpdateCluster("services/server/", "obs-server", "obs-server")
                      }
                  

fallback:
                      steps {
                          echo 'building fallback...'
                          buildAndUpdateCluster("services/fallback/", "obs-fallback", "obs-fallback")
                      }
                  

downcc:
                      steps {
                          echo 'building downcc...'
                          buildAndUpdateCluster("services/downcc/", "obs-downcc", "obs-downcc")
                      }
                  

auth:
                      steps {
                          echo 'building downcc...'
                          buildAndUpdateCluster("services/auth/", "obs-auth", "obs-auth")
                      }
                  

playlist:
                      steps {
                          echo 'building playlist...'
                          buildAndUpdateCluster("services/playlist/", "obs-playlist", "obs-playlist")
                      }
                  

Password Reset Using PHP mail server done
  services/auth/package-lock.json
  services/auth/package.json
  services/auth/src/routes/auth.js
Due: auth

auth api response restructuring
  services/auth/src/routes/auth.js
  services/clientapp/src/App.jsx
  services/clientapp/src/actions/authActions.js
  services/clientapp/src/components/Auth.jsx
  services/clientapp/src/components/Forgot.jsx
  services/clientapp/src/components/Reset.jsx
Due: clientapp, auth

forgot password auth flow modified
  services/auth/src/routes/auth.js
  services/clientapp/src/actions/authActions.js
  services/clientapp/src/components/Reset.jsx
Due: clientapp, auth

forgot password server side token validation added
  services/clientapp/src/components/Reset.jsx
Due: clientapp

MObile app intent call anchor tag created
  services/clientapp/src/actions/authActions.js
  services/clientapp/src/components/Auth.jsx
  services/clientapp/src/components/Forgot.jsx
  services/clientapp/src/components/Reset.jsx
  services/clientapp/src/css/auth.css
  services/clientapp/src/css/commons.css
Due: clientapp

clientapp login app forgot page issue resolved
  services/clientapp/src/components/Forgot.jsx
  services/clientapp/src/css/commons.css
Due: clientapp

server to core service renaming
  Jenkinsfile
  k8s/deployments/core.yml
  k8s/ingress/ingress.yml
  k8s/svc/core.yml
  services/core/.babelrc
  services/core/.dockerignore
  services/core/.gitignore
  services/core/Dockerfile
  services/core/config/default.json
  services/core/index.js
  services/core/package-lock.json
  services/core/package.json
  services/core/src/config/db.js
  services/core/src/config/middleware.js
  services/core/src/config/redis.js
  services/core/src/core/copycat.js
  services/core/src/core/index.js
  services/core/src/core/suggestbeat.js
  services/core/src/core/ytsearchcat.js
  services/core/src/index.js
  services/playlist/config/default.json
  services/server/.babelrc
  services/server/.dockerignore
  services/server/.gitignore
  services/server/Dockerfile
  services/server/index.js
  services/server/src/core/copycat.js
  services/server/src/core/index.js
  services/server/src/core/suggestbeat.js
  services/server/src/core/ytsearchcat.js
Due: server, playlist

jenkins file experimenting force build via env
  Jenkinsfile
Due: none

jenkinsfile anyOf integration in all the services
  Jenkinsfile
Due: none

build trigger
  Jenkinsfile
Due: none

all service uptodate
  Jenkinsfile
Due: none

added recently played
  services/auth/config/default.json
  services/auth/package-lock.json
  services/auth/package.json
  services/auth/src/index.js
  services/auth/src/models/User.js
  services/auth/src/routes/usermetadata.js
  services/core/config/default.json
  services/core/package-lock.json
  services/core/package.json
  services/core/src/config/addtorecentlyplayed.js
  services/core/src/index.js
Due: auth

cron service added
  services/auth/src/routes/auth.js
  services/core/config/default.json
  services/cronscrap/.babelrc
  services/cronscrap/.dockerignore
  services/cronscrap/.gitignore
  services/cronscrap/Dockerfile
  services/cronscrap/config/default.json
  services/cronscrap/index.js
  services/cronscrap/package-lock.json
  services/cronscrap/package.json
  services/cronscrap/src/config/db.js
  services/cronscrap/src/config/middleware.js
  services/cronscrap/src/core/refetch.js
  services/cronscrap/src/core/topCharts.js
  services/cronscrap/src/core/updateTopCharts.js
  services/cronscrap/src/index.js
  services/cronscrap/src/models/TopChart.js
  services/cronscrap/src/routes/croninit.js
  services/cronscrap/src/routes/topcharts.js
Due: auth

half way implemented recently played
  services/auth/package-lock.json
  services/auth/package.json
  services/auth/src/routes/usermetadata.js
Due: auth

client recently played half done
  services/auth/src/models/User.js
  services/auth/src/routes/usermetadata.js
  services/clientapp/package-lock.json
  services/clientapp/src/actions/playerActions.js
  services/core/src/config/addtorecentlyplayed.js
Due: clientapp, auth

client-side recently Played done
  services/auth/config/default.json
  services/auth/src/routes/usermetadata.js
  services/clientapp/package-lock.json
  services/clientapp/package.json
  services/clientapp/src/actions/playerActions.js
  services/core/config/default.json
  services/core/src/index.js
Due: clientapp, auth

maded changes for PR of recently added and cron services
  services/auth/config/default.json
  services/core/config/default.json
  services/cronscrap/config/default.json
  services/cronscrap/src/index.js
Due: auth

Added UI implementation of RecentlyPlayed
  services/auth/config/default.json
  services/auth/src/config/auth.js
  services/auth/src/routes/usermetadata.js
  services/clientapp/src/actions/authActions.js
  services/clientapp/src/actions/playerActions.js
  services/clientapp/src/actions/playlistManipulatorActions.js
  services/clientapp/src/components/LeftNav.jsx
  services/clientapp/src/components/Main.jsx
  services/clientapp/src/components/RecentlyPlayed.jsx
  services/clientapp/src/components/index.js
  services/core/config/default.json
  services/core/src/index.js
Due: clientapp, auth

Made ready for Upstream merge
  services/auth/config/default.json
  services/auth/src/index.js
  services/clientapp/src/actions/authActions.js
  services/clientapp/src/actions/playerActions.js
  services/clientapp/src/components/Main.jsx
  services/clientapp/src/components/RecentlyPlayed.jsx
  services/core/config/default.json
  services/core/src/index.js
  services/cronscrap/src/index.js
  services/cronscrap/src/routes/croninit.js
  services/downcc/src/index.js
  services/fallback/src/index.js
Due: clientapp, fallback, downcc, auth

Path conditions:
  clientapp: any of: services/clientapp/**
  captainapp: any of: services/captainapp/**
  server: any of: services/server/**
  fallback: any of: services/fallback/**
  downcc: any of: services/downcc/**
  auth: any of: services/auth/**
  playlist: any of: services/playlist/**
